###############################################################################
# BEGIN: Base

export ZSH=/home/etadel2/.oh-my-zsh

ZSH_THEME="candy"

autoload -U +X compinit && compinit
autoload -U +X bashcompinit && bashcompinit

plugins=(
  git
  hab
  oath
)

source $ZSH/oh-my-zsh.sh

# END: Base
###############################################################################

###############################################################################
# BEGIN: ASDF

. $HOME/.asdf/asdf.sh
. $HOME/.asdf/completions/asdf.bash

# END: ASDF
###############################################################################

###############################################################################
# BEGIN: Oath

export OATH_KEY="{{ zsh_oath_key }}"
export OATH_EMAIL="{{ zsh_oath_email }}"

# END: Oath
###############################################################################

###############################################################################
# BEGIN: Others

source {{ dotfiles_home }}/roles/zsh/files/aliases.zsh
source {{ dotfiles_home }}/roles/erlang/files/erlang.zsh
source {{ dotfiles_home }}/roles/docker/files/docker.zsh
source {{ dotfiles_home }}/roles/fzf/files/fzf.zsh
source {{ dotfiles_home }}/roles/flutter/files/flutter.zsh
source {{ dotfiles_home }}/roles/microsoft/files/microsoft.zsh

# END: Others
###############################################################################
