export VAULT_PASSWORD=$(pass show personal/github/dotfiles | head -n 1)
export RPI_PASSWORD=$(pass show personal/rpi/ssh | head -n 1)
export GPG_GITHUB_KEY=$(pass show personal/gpg/github-key | head -n 1)
export GPG_PASSWORD_STORE_KEY=$(pass show personal/gpg/password-store | head -n 1)
export OPENAI_API_KEY=$(pass show the-magic-link/open-ai/api-key | head -n 1)
export ANSIBLE_HOST_KEY_CHECKING=False
