dependencies:
  - build-essential
  - autoconf
  - m4
  - libncurses5-dev
  - libwxgtk3.0-gtk3-dev
  - libgl1-mesa-dev
  - libglu1-mesa-dev
  - libpng-dev
  - libssh-dev
  - unixodbc-dev
  - xsltproc
  - fop
