#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Firefox
Comment=Latest Firefox
Exec="/opt/firefox/firefox" %U
Terminal=false
Type=Application
Icon=/opt/firefox/browser/chrome/icons/default/default128.png
TryExec=/opt/firefox/firefox
