#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Spotify
Comment=Spotify Client
Exec=spotify %U
Terminal=false
Type=Application
Icon=spotify-client
TryExec=spotify
