[user]
	email = {{ engine.git.email }}
	name = {{ engine.git.name }}
	signingkey = {{ engine.git.key }}
[core]
	editor = vim
	excludesfile = {{ dotfiles.home }}/.gitignore_global
[commit]
	gpgsign = true
