---
###############################################################################
# Base system

- name: Base | Updates repositories | apt_repository
  become: yes
  become_user: root
  loop: "{{ repositories }}"
  apt_repository:
    repo: "{{ item }}"
    state: present

- name: Base | Adds x86 architecture | command
  become: yes
  become_user: root
  command: dpkg --add-architecture i386
  register: base_add_x86
  failed_when: base_add_x86.rc >= 1
  changed_when: base_add_x86.rc == 0

- name: Base | Upgrades system | apt
  become: yes
  become_user: root
  apt:
    upgrade: 'yes'
    update_cache: yes

- name: Base | Installs packages | apt
  become: yes
  become_user: root
  loop: "{{ packages }}"
  apt:
    name: "{{ item }}"
    state: present

- name: Base | Cleans packages | apt
  become: yes
  become_user: root
  apt:
    autoremove: yes
