[user]
	email = {{ base.git.email }}
	name = {{ base.git.name }}
	signingkey = {{ exporter.gpg.github.public_key }}
[core]
	editor = nvim
	excludesfile = {{ ansible_env.HOME }}/.gitignore_global
[commit]
	gpgsign = true
